@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 100%;
    overflow-x: hidden;
}

/* Global Styles */

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

.hidden {
    display: none;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transform: 0.3s;
}

body {
    width: 100%;
}

.capitalize {
    text-transform: capitalize;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25px;
    right: 100px;
    animation: bar 0.5s reverse;

    li {
        position: relative;
        list-style: none;
        padding: 0 20px;

        a {
            text-decoration: none;
            font-size: 16px;
            font-weight: 600;
            color: #1a1a1a;
            transform: 0.3s;

            svg {
                width: 16px;
                height: 16px;
            }
        }

    }

    .search {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid transparent;
        background-color: white;
        padding: 2px 10px;
        border-radius: 10px;
        position: relative;

        .searchResults {
            position: absolute;
            width: 100%;
            background-color: white;
            top: 2rem;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0px 8px 16px 0px rgba(51, 51, 51, 0.1607843137);
            border-width: 1px;
            max-height: 350px;
            padding: 8px;
            z-index: 1;

            .itemImg {
                width: 100px;
                max-height: 100px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }

            .itemContent {
                margin-left: 1.5rem;
                padding: 0.5rem 0;
                width: 100%;

                p {
                    margin: 0;
                    vertical-align: middle;
                }

                .money {
                    margin-top: 5px;
                }
            }

            .searchItem {
                display: flex;
                flex-direction: row;
                align-items: center;


            }

            .searchItem:not(:last-child) {
                margin-bottom: 10px;
                border-bottom: 1px solid gray;
            }
        }

        input {
            padding: 0 1.125em;
            font-size: 15px;
            border: 1px solid transparent;
            border-radius: 4px;
            outline: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            margin-right: 10px;
            font-family: "Archivo", Times, serif;
            width: 500px;
            max-width: 450px;
        }

        i {
            cursor: pointer;
        }

        i:hover {
            color: grey;
        }
    }

    a:hover,
    a.active {
        color: #088178;
    }


    a.active::after,
    a:hover::after {
        content: "";
        width: 30%;
        height: 2px;
        background: #088178;
        position: absolute;
        bottom: -4px;
        left: 20px;
        transition: 0.5s;
        animation: nav 0.5s ease;
    }
}

.hero {
    background: url(../../img/img_Edward/banner/cart.jpg) no-repeat;
    width: 100%;
    height: 70vh;
    background-size: cover;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-attachment: fixed;
    background-position: center;
    padding: 14px;
    justify-content: center;

    h2,
    p {
        color: #088178;
    }

    h2 {
        padding-bottom: 15px;
    }

    p {
        color: white;
        font-weight: bold;
        font-size: x-large;
    }

    h1 {
        color: #088178;
    }
}

#bar:hover {
    color: #088178;

}


.mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    a {
        display: none;
    }

    i {
        margin-bottom: 4px;

    }
}

#close {
    display: none;
}

#cart {
    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;

        img {
            width: 70px;
        }

        thead {
            border: 1px solid #e2e9e1;
            border-left: none;
            border-right: none;

            td {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 13px;
                padding: 18px 0;
            }
        }

        tbody {
            tr {
                td {
                    padding-top: 15px;
                    font-size: 13px;

                    i {
                        cursor: pointer;
                    }
                }
            }
        }

        td {
            width: 100%;
            text-align: center;
        }

        td:nth-child(5) {
            input {
                width: 30%;
                padding: 10px 5px 10px 15px;
                text-align: center;
            }
        }
    }
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 2px solid #088178;

    .coupon {
        width: 50%;
        margin-bottom: 30px;

        h3 {
            padding-bottom: 15px;
        }

        input {
            padding: 10px 20px;
            outline: none;
            width: 60%;
            margin-right: 10px;
            border: 1px solid #e2e9e1;
        }

        button {
            background-color: #088178;
            color: white;
            padding: 10px 20px;
        }
    }

    .subtotal {
        width: 50%;
        margin-bottom: 30px;
        border: 1px solid #e2e9e1;
        padding: 30px;

        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px;

            td {
                width: 50%;
                border: 1px solid #e2e9e1;
                padding: 10px;
                font-size: 13px;
            }
        }

        h3 {
            padding-bottom: 15px;
        }

        button {
            background-color: #088178;
            color: white;
        }
    }
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .logo {
        margin-bottom: 30px;
    }

    h4 {
        font-size: 14px;
        padding-bottom: 20px;
    }

    p {
        font-size: 13px;
        margin: 0 0 8px 0;
    }

    a {
        font-size: 13px;
        text-decoration: none;
        color: #222;
        margin-bottom: 10px;
    }

    .follow {
        margin-top: 20px;

        i {
            color: #465b52;
            padding-right: 10px;
            cursor: pointer;
        }
    }

    .row {
        img {
            border: 1px solid #088178;
            border-radius: 6px;
        }
    }

    .install {
        img {
            margin: 10px 0 15px 0;
        }
    }

    .follow i:hover,
    a:hover {
        color: #088178;
    }
}

.reduce {
    color: gray;
    margin-left: 2em;
    font-size: 13px;
}

.copyright {
    width: 100%;
    text-align: center;

    p {
        color: #088178;
    }
}

#scollbutton {
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: white;

    .normal {
        border: 1px solid #a34343;
        background-color: #a34343;
        color: wheat;
        border-radius: 40%;
        padding: 10px 12px;
        font-size: 20px;
    }
}

@keyframes nav {
    from {
        left: 0;
    }

    to {
        left: 20px;
    }
}

@keyframes bar {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(2em);
    }
}

/* ============================================================================= Media ===================================================================================== */
@media (max-width: 799px) {
    .section-p1 {
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 88px 0 0 10px;
        transform: 0.5s;

        li {
            padding-bottom: 25px;
        }

        a.active::after,
        a:hover::after {
            content: "";
            width: 30%;
            height: 2px;
            background: #088178;
            position: absolute;
            bottom: 20px;
            left: 20px;
            transition: 0.5s;
        }

        #close:hover::after {
            background: none;
        }

        #close {
            display: initial;
            position: absolute;
            top: 30px;
            left: 30px;
            color: black;
            font-size: 20px;
        }

        #lg-bag {
            display: none;
        }
    }

    #navbar.active {
        right: 0px;
    }

    #navbar {
        .search {
            margin-bottom: 1em;
            margin-left: 1em;
            padding: 2px 5px;
            width: fit-content;
        }
    }

    #navbar {
        & .search {
            input {
                width: 100%;
            }
        }
    }


    .mobile {
        display: flex;
        align-items: center;

        a {
            display: block;

            svg {
                width: 30px !important;
                height: 25px !important;
            }
        }

        i {
            color: black;
            font-size: 24px;
            padding-left: 20px;
        }
    }


    .hero {
        height: 60vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #cart table td:nth-child(5) input {
        padding: 10px 5px 10px 6px;
    }

    .link-cupton {
        display: flex;
        flex-direction: column;

        button {
            margin-top: 1em;
            width: 30%;
        }
    }

    .form-details {
        padding: 40px;

        form {
            width: 50%;
        }
    }
}



@media (max-width: 676px) {
    #cart table thead td {
        font-size: 10px;
    }

    #cart table td:nth-child(5) input {
        padding: 10px 0px 10px 13px;
        width: 35px;
    }

    #cart-add .coupon input {
        padding: 10px 12px;
        width: 80%;
    }

    #cart-add .coupon button {
        background-color: #088178;
        color: white;
        padding: 10px 20px;
        width: 60%;
    }
}

@media (max-width: 770px) {}

@media (max-width: 477px) {
    .section-p1 {
        padding: 20px;
    }

    .header {
        padding: 10px 30px;
    }

    .hero {
        padding: 0 20px;
        background-position: 55%;

        h2 {
            font-size: 32px;
        }

        h1 {
            font-size: 38px;
        }
    }

    #cart table td:nth-child(5) input {
        padding: 10px 5px 10px 6px;
        width: 30px;
    }

    .link-cupton {
        display: flex;
        flex-direction: column;

        button {
            margin-top: 1em;
            width: 30%;
        }
    }

    #cart {
        overflow-x: auto;
    }

    #cart-add {
        flex-direction: column;

        .coupon {
            width: 100%;
        }

        .subtotal {
            width: 100%;
        }
    }

    #cart table thead td {
        font-size: 8px;
    }

    #cart table img {
        padding-right: 14px;
    }

    footer .row {
        display: flex;
        /* justify-content: space-between; */
    }

    footer .install img {
        margin: 10px 4px 15px 0;
        align-self: center;
    }

    .copyright {
        padding-top: 0;
    }
}