.hidden {
    display: none !important;
}

.hero {
    background: url(/img/img_Edward/banner/pngtree-folded-corner-paper-banner-design-suitable-for-sale-background-picture-image_1984910.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;

}

.mobile {
    i {
        margin-bottom: 4px;

    }
}

form {
    height: 520px;
    width: 450px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    margin: 5em 2px;

    * {
        font-family: 'Poppins', sans-serif;
        color: #ffffff;
        letter-spacing: 0.5px;
        outline: none;
        border: none;
    }

    h3 {
        font-size: 32px;
        font-weight: 500;
        line-height: 42px;
        text-align: center;
        color: #080710;
    }

    label {
        display: block;
        margin-top: 30px;
        font-size: 16px;
        font-weight: 500;
        color: black;
        font-weight: bolder;
    }

    input {
        display: block;
        height: 50px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.07);
        border-radius: 3px;
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
        color: #080710;
        border: 1px solid;
    }

    ::placeholder {
        color: #222831;
    }

    .password {
        display: flex;
        cursor: pointer;
        position: relative;

        i {
            position: absolute;
            right: 10px;
            top: 25px;
        }
    }

    button.normal {
        background: linear-gradient(to left, #088178 50%, white 50%) right;
        color: white;
        margin-top: 40px;
        margin-left: 50px;
        width: 70%;
        background-size: 200%;
        transition: .5s ease-out;
        padding: 14px 80px 16px 65px;
        cursor: pointer;
        font-weight: 700;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;

    }

    button:hover {
        background-position: left;
        color: #088178;
        background-color: white;
    }

    .footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        margin-top: 1em;

        a {
            text-decoration: none;
            position: relative;
            margin-left: 2px;
            color: black;
        }

        .fpassword,
        .signUp {
            color: brown;

        }

        a:hover,
        a.active {
            color: #088178;
        }


        a.active::after,
        a:hover::after {
            content: "";
            width: 100%;
            height: 2px;
            background: #088178;
            position: absolute;
            bottom: -4px;
            left: 0px;
            transition: 0.5s;
            animation: footer 0.5s ease;
        }


    }

}

#forgot {
    display: contents;

    div {
        margin-top: 1em;
        text-align: center;
    }
}

.social {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.social div {
    background: red;
    width: 150px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.27);
    color: #eaf0fb;
    text-align: center;
    padding: 10px;
}

.social div:hover {
    background-color: rgba(255, 255, 255, 0.47);
}

.social h {
    color: #080710;
    align-self: center;

}

.social {

    .go,
    .fb {
        border: 1px solid black;
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        align-items: center;

        i,
        a {
            color: black;
        }
    }

    svg {
        width: 22px;
        height: 22px;
    }
}

.social a {
    text-decoration: none;
}

@keyframes footer {
    from {
        left: -10px;
    }

    to {
        left: 0;
    }
}

@media (max-width:799px) {
    form {
        top: 40%;
        margin: 0 2px;
    }

    .hero {
        justify-content: end;
        align-items: center;
    }
}

@media (max-width:477px) {

    form {
        margin: 5em 0;
        width: 100%;

        input {
            width: 274px;
            margin-left: 2em;
        }

        label {
            margin-left: 2em;

        }


        .footer {
            flex-direction: column;
            text-align: center;

            .signUp {
                margin-top: 0.5em;
            }

            button.normal {
                padding: 13px 80px 13px 65px;
            }
        }

    }


}